POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable

GRPC_USER_HOST=0.0.0.0
GRPC_USER_PORT=50051

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8000

PROMETHEUS_HOST=0.0.0.0
PROMETHEUS_PORT=2112

ALERTMANAGER_TELEGRAM_BOT_TOKEN=000000000:replace_with_real_bot_token
ALERTMANAGER_TELEGRAM_CHAT_ID=000000000

TLS_ENABLED=false
TLS_CERT_FILE=build/tls/server.crt
TLS_KEY_FILE=build/tls/server.key

TLS_CERTBOT_DOMAIN=localhost
TLS_CERTBOT_EMAIL=gopher@gmail.com
TLS_CERTBOT_STAGING=true

JWT_ISS=auth-service
JWT_SUB=access-token
JWT_AUD=chatting-clients
JWT_PRIVATE_KEY_FILE=build/jwt/rs256_private.pem
JWT_PUBLIC_KEY_FILE=build/jwt/rs256_public.pem
JWT_EXP=15m
JWT_REFRESH_EXP=168h
JWT_NBF=0s
JWT_IAT=0s

ZAP_LEVEL=info
ZAP_ENCODING=json
ZAP_OUTPUT_PATHS=stdout
ZAP_ERROR_OUTPUT_PATHS=stderr
