APP_SHUTDOWN_TIMEOUT=5s

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_QUERY_TIMEOUT=1s

GRPC_HOST=0.0.0.0
GRPC_PORT=50051

GRPC_REQUEST_TIMEOUT=5s

GRPC_RATE_LIMIT_RPS=100
GRPC_RATE_LIMIT_BURST=20
GRPC_RATE_LIMIT_AUTH_RPS=5
GRPC_RATE_LIMIT_AUTH_BURST=10

GATEWAY_HOST=0.0.0.0
GATEWAY_PORT=8000

DIAGNOSTIC_HOST=0.0.0.0
DIAGNOSTIC_PORT=2112

JWT_ISS=auth-service
JWT_SUB=access-token
JWT_AUD=chatting-clients
JWT_PRIVATE_KEY_FILE=build/jwt/rs256_private.pem
JWT_PUBLIC_KEY_FILE=build/jwt/rs256_public.pem
JWT_ACCESS_EXP=15m
JWT_REFRESH_EXP=168h
JWT_NBF=0s
JWT_IAT=0s

TLS_ENABLED=false
TLS_CERT_FILE=build/tls/server.crt
TLS_KEY_FILE=build/tls/server.key
TLS_CERTBOT_DOMAIN=localhost
TLS_CERTBOT_EMAIL=gopher@gmail.com
TLS_CERTBOT_STAGING=true

ZAP_LEVEL=info
ZAP_ENCODING=json
ZAP_OUTPUT_PATHS=stdout
ZAP_ERROR_OUTPUT_PATHS=stderr

TRACING_ENABLED=true
TRACING_SERVICE_NAME=api
TRACING_JAEGER_AGENT_HOST=jaeger
TRACING_JAEGER_AGENT_PORT=6831
TRACING_SAMPLER_TYPE=const
TRACING_SAMPLER_PARAM=1

ALERTMANAGER_TELEGRAM_BOT_TOKEN=000000000:replace_with_real_bot_token
ALERTMANAGER_TELEGRAM_CHAT_ID=000000000

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin