name: "Continuous Delivery"

on:
  workflow_run:
    workflows: ["Continuous Integration"]
    types:
      - completed

env:
  REGISTRY: "docker.io"

  CHAT_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-chat-service"
  CHAT_SERVICE_CONTAINER_NAME: "microservices-course-2023-chat-service"

  USER_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-user-service"
  USER_SERVICE_CONTAINER_NAME: "microservices-course-2023-user-service"

jobs:
  deploy-image:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }} 

    steps:
      - name: Deploy to AWS EC2 instance via SSH action
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          envs: REGISTRY,CHAT_SERVICE_IMAGE_NAME,CHAT_SERVICE_CONTAINER_NAME,USER_SERVICE_IMAGE_NAME,USER_SERVICE_CONTAINER_NAME,GITHUB_SHA
          script: |
            TAG_NAME=$(echo ${{ github.event.workflow_run.head_sha }} | head -c7)
            
            docker login -u ${{ secrets.REGISTRY_USERNAME }} -p ${{ secrets.REGISTRY_PASSWORD }} $REGISTRY

            docker stop $CHAT_SERVICE_CONTAINER_NAME
            docker stop $USER_SERVICE_CONTAINER_NAME

            docker rm $CHAT_SERVICE_CONTAINER_NAME
            docker rm $USER_SERVICE_CONTAINER_NAME

            docker run -d --name $CHAT_SERVICE_CONTAINER_NAME -p 50051:50051 $REGISTRY/$CHAT_SERVICE_IMAGE_NAME:$TAG_NAME
            docker run -d --name $USER_SERVICE_CONTAINER_NAME -p 50052:50052 $REGISTRY/$USER_SERVICE_IMAGE_NAME:$TAG_NAME