name: "Continuous Integration"

on:
  workflow_dispatch:

env:
  REGISTRY: "docker.io"

  CHAT_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-chat-service"
  USER_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-user-service"

jobs:
  build-image-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Rregistry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          TAG_NAME=$(echo $GITHUB_SHA | head -c7)

          docker buildx build --no-cache --push --target chat --tag $REGISTRY/$CHAT_SERVICE_IMAGE_NAME:$TAG_NAME -f 2-week/Dockerfile 2-week 
          docker buildx build --no-cache --push --target user --tag $REGISTRY/$USER_SERVICE_IMAGE_NAME:$TAG_NAME -f 2-week/Dockerfile 2-week 