name: "Continuous Integration"

on:
  workflow_dispatch:

env:
  REGISTRY: "docker.io"
  MIGRATOR_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-migrator"
  CHAT_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-chat-service"
  USER_SERVICE_IMAGE_NAME: "daniilkalts2006/microservices-course-2023-user-service"

jobs:
  build-image-and-push:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Docker Image
        run: |
          TAG=$(echo $GITHUB_SHA | head -c7)

          docker buildx build --push --target migrator --tag $REGISTRY/$MIGRATOR_IMAGE_NAME:$TAG -f 2-week/migrations/Dockerfile 2-week 
          docker buildx build --push --target chat --tag $REGISTRY/$CHAT_SERVICE_IMAGE_NAME:$TAG -f 2-week/Dockerfile 2-week 
          docker buildx build --push --target user --tag $REGISTRY/$USER_SERVICE_IMAGE_NAME:$TAG -f 2-week/Dockerfile 2-week